<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<title>Movie List</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{css/myStyle.css}"/>
	</head>
	
	<body>
		<div id="container">
			<div class="col-md-4">
				<h2>Movies</h2>
			</div>
		
			<div class="col-md-4">
				<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h2>
			</div>
		
			<div class="col-md-4" style="padding:20px 0;">
				<form th:action="@{/logout}" method="post">
					<input id="logOutBtn" type="submit" value="Sign Out" class="btn btn-danger"/>
				</form>
			</div>
	
			<table class="table table-striped">
				<tr>
					<th>Movie Title</th>
					<th>Director</th>
					<th>Year Of Production</th>
					<th>Duration (Minutes)</th>
					<th>Rating</th>
					<th>Category</th>
					<th></th>
				</tr>
			
				<tr th:each = "movie : ${movie}">
 					<td th:text="${movie.title}"></td>
 					<td th:text="${movie.director}"></td> 
 					<td th:text="${movie.year}"></td>
  					<td th:text="${movie.duration}"></td>
  					<td th:text="${movie.rating}"></td>
  					<td th:text="${movie?.category?.catname}"></td> 
  					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger" style="float: right">Delete</a></td>   
	 			</tr>
			</table>

			<div class="btn btn-success">
				<a href="/add" class="btn btn-success">Add New Movie</a>   
			</div>
		</div>
	</body>
</html>